@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals.css */
:root {
  --bg-color: #ffffff;  
 
 /* Color for Header menu tag: Home, Blog, About,... */
  --header-menu-tag: #000000;
  --header-menu-tag-active: #000000;
  --font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  --header-bg-color: #f8f8f8;

  /* Color for post list */
  --font-intro-section-post-list: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  --post-list-title: #000000;
  --post-container-color: #717171;
  --post-list-tag: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  --post-list-date: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  /* Sidebar */
  --font-sidebar: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  --profile-name-sidebar: #717171;

  /* Panel */
  --font-family-base: Lato, 'Microsoft Yahei', sans-serif;
  --font-panel: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  /* Comment */
  --font-leave-comment: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}

/*
.lightMode {
  --bg-color: #ffffff;  
 
  --header-menu-tag: #000000;
  --header-menu-tag-active: #000000;
  --font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  --post-list-title: #000000;
  --post-container-color: #717171;

  --bg-color: rgb(27, 27, 30);                

  --header-color: ;
  --header-menu-tag: #ffffff;
  --header-menu-tag-active: #ffffff;
  --font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  --post-container-color: #717171;
  --post-list-title: #464d51;
} 

.main-container {
    width: 750px;                 
    background-color: var(--bg-color); 
    min-height: 100vh;             
    margin-left: auto;             
    margin-right: auto;            
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {                 
    padding-left: 10px;            
    padding-right: 10px;           
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main-container {
        width: 95vw;
        padding-left: 0px;
        padding-right: 0px;
    }
} */

.body-container {
    display: flex;
    flex-direction: column;  /* Sắp xếp các thành phần theo chiều dọc */
    min-height: 100vh;       /* Chiều cao tối thiểu bằng với viewport */
    width: 100%;             /* Chiều rộng tối đa */
}

.header {
    width: 100%;
    background-color: var(--header-bg-color); /* Màu nền */
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 40px;
    position: fixed;
    z-index: 1000;
}

.main-container {
    display: flex;           /* Sử dụng Flexbox để quản lý layout */
    flex-grow: 1;            /* Cho phép container mở rộng chiếm dụng không gian còn lại */
    width: 100%;             /* Chiều rộng tối đa */
}


.sidebar {
    flex: 0 0 25%;           /* Cố định chiều rộng 25% và không cho phép co giãn */
    padding: 50px 40px 20px 20px;           /* Padding xung quanh nội dung */
    overflow: auto;          /* Cho phép cuộn nếu nội dung vượt quá kích thước */
}

.main-content {
    flex: 1 1 50%;                 /* Cho phép nội dung chính mở rộng linh hoạt */
    padding: 50px 0px 20px 20px;           /* Padding xung quanh nội dung */
    overflow: auto;          /* Cho phép cuộn nếu nội dung vượt quá kích thước */
}

.panel {
    display: flex;
    flex-direction: column; /* Quản lý các thành phần con theo chiều dọc */
    flex: 0 0 25%;         /* Giữ nguyên chiều rộng cố định 25% */
    padding: 50px 50px 20px 40px; /* Giữ nguyên padding, điều chỉnh nếu cần */
    height: 100%;          /* Nếu bạn muốn `.panel` chiếm đầy đủ chiều cao có thể */
}
.footer {
    display: flex;           /* Sử dụng Flexbox để quản lý layout */
    flex-grow: 1;            /* Cho phép container mở rộng chiếm dụng không gian còn lại */
    width: 100%;             /* Chiều rộng tối đa */
}
@media (max-width: 1200px) {
    .panel {
        display: none; /* Ẩn sidebar và panels trên thiết bị nhỏ */
    }
    .sidebar {
        padding: 50px 0 20px 20px;           /* Padding xung quanh nội dung */
    }
    
    .main-content {
        width: 100%; /* Cho main-content chiếm 100% chiều rộng màn hình */
        padding: 40px 70px 0 50px;
    }
}
/* Media Queries cho các màn hình nhỏ hơn 1024px */
@media (max-width: 1024px) {
    .sidebar,
    .panel {
        display: none; /* Ẩn sidebar và panels trên thiết bị nhỏ */
    }
    
    .main-content {
        width: 100%; /* Cho main-content chiếm 100% chiều rộng màn hình */
        padding: 40px 15px 0 20px;
    }
}
