@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals.css */
:root {
  --bg-color: #ffffff;  
 
 /* Color for Header menu tag: Home, Blog, About,... */
  --header-menu-tag: #000000;
  --header-menu-tag-active: #000000;
  --font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  /* Color for post list */
  --font-intro-section-post-list: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  --post-list-title: #000000;
  --post-container-color: #717171;

  /* Sidebar */
  --font-sidebar: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  --profile-name-sidebar: #717171;
}

/*
.lightMode {
  --bg-color: #ffffff;  
 
  --header-menu-tag: #000000;
  --header-menu-tag-active: #000000;
  --font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  --post-list-title: #000000;
  --post-container-color: #717171;

  --bg-color: rgb(27, 27, 30);                

  --header-color: ;
  --header-menu-tag: #ffffff;
  --header-menu-tag-active: #ffffff;
  --font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  --post-container-color: #717171;
  --post-list-title: #464d51;
} 

.main-container {
    width: 750px;                 
    background-color: var(--bg-color); 
    min-height: 100vh;             
    margin-left: auto;             
    margin-right: auto;            
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {                 
    padding-left: 10px;            
    padding-right: 10px;           
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main-container {
        width: 95vw;
        padding-left: 0px;
        padding-right: 0px;
    }
} */

.main-container {
    display: flex; /* Sử dụng flexbox để quản lý layout */
    min-height: 100vh;
    background-color: var(--bg-color);
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden; /* Ngăn chặn thanh cuộn ngang */
}

.sidebar {
    width: 25%; /* Sidebar chiếm 25% chiều rộng màn hình */
    box-sizing: border-box; /* Đảm bảo rằng padding và border không làm tăng chiều rộng */
    padding: 20px; /* Ví dụ padding */
    overflow: hidden;
}

.main-content {
    width: 55%; /* Nội dung chính chiếm 50% chiều rộng màn hình */
    box-sizing: border-box;
    padding: 10px 20px 20px 20px;
    overflow: hidden;
    align-items: stretch;
}

.panels {
    width: 20%; /* Phần tag chiếm 25% chiều rộng màn hình */
    background-color: #ccc; /* Màu nền cho tags */
}

/* Media Queries cho các màn hình nhỏ hơn 1024px */
@media (max-width: 1024px) {
    .sidebar,
    .panels {
        display: none; /* Ẩn sidebar và panels trên thiết bị nhỏ */
    }
    
    .main-content {
        width: 100%; /* Cho main-content chiếm 100% chiều rộng màn hình */
        padding: 20px;
    }
}


