/* styles/Sidebar.module.css */
.tasgPanelContainer {
    width: 100%;            /* Chiếm đầy đủ chiều rộng có sẵn */
    margin: 0;              /* Loại bỏ margin nếu không cần thiết */
    padding: 0;             /* Điều chỉnh padding cho phù hợp */
    flex-grow: 1;           /* Cho phép mỗi container mở rộng */
    overflow: hidden;       /* Ngăn chặn tràn nội dung */
    margin-bottom: 50px;
    margin-top: 8px;
}

.tasgPanelContainer p {
  color: #000000; /* Light grey color, adjust as needed */
  margin: 0 0 10px 0; /* Space above and below */
  font-size: 17px; /* Font size */
  font-family: var(--font-sidebar);
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-weight: bold;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    margin-top: 5px;
    margin-right: 20px;
}
.tag {
    display: inline-block;
    padding: 4px 8px;          /* Điều chỉnh khung bao Category */
    padding-left: 10px;
    background-color: #f5f5f5;
    border-radius: 15px;       /* Điều chỉnh khung bao Category */
    font-size: 12px;           /* Điều chỉnh chữ trong khung bao Category */
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    margin-right: 2px;
    transition: background-color 0.3s, transform 0.3s ease; /* Thêm transform vào transition */
}
.tag:hover {
    background-color: #e0e0e0; /* Màu khi hover */
    transform: scale(1.05);     /* Phóng to thẻ tag khi hover */
}

.latestPostsContainer {
    width: 100%;            /* Chiếm đầy đủ chiều rộng có sẵn */
    margin: 0;              /* Loại bỏ margin nếu không cần thiết */
    padding: 0;             /* Điều chỉnh padding cho phù hợp */
    flex-grow: 1;           /* Cho phép mỗi container mở rộng */
    overflow: hidden;       /* Ngăn chặn tràn nội dung */
}
.latestPostsContainer p {
  color: #000000; /* Light grey color, adjust as needed */
  margin: 0 0 10px 0; /* Space above and below */
  font-size: 17px; /* Font size */
  font-family: var(--font-panel);
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-decoration: underline;
  font-weight: bold;
}

.post {
  margin-bottom: 10px;
  font-size: 14px; /* Font size */
  font-family: var(--font-panel);
}
.post:hover {
    text-decoration: underline;
}

