.containerBlockCode {
    width: 100%;           /* Tương đương với w-full */
    min-width: 25rem;      /* Tương đương với min-w-[25rem] */
    background-color: #f5f5f5; /* Tương đương với bg-[#f5f5f5] */
    border-radius: 0.375rem; /* Tương đương với rounded-md */
    overflow: hidden;      /* Tương đương với overflow-hidden */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Tương đương với shadow-lg */
    margin: 25px 0 25px 0;
}

/* Định dạng thanh cuộn */
.divScroll {
    overflow-x: auto; /* Thêm này để cho phép cuộn ngang khi cần */
    overflow-y: auto; /* Giữ nguyên để cho phép cuộn dọc */
}
.divScroll::-webkit-scrollbar {
    width: 8px; /* Đặt độ rộng cho thanh cuộn */
    height: 8px; /* Cần thiết cho thanh cuộn ngang */
}

.divScroll::-webkit-scrollbar-track {
    background: transparent; /* Đường dẫn cuộn là trong suốt */
}

.divScroll::-webkit-scrollbar-thumb {
    background: #CED4DA; /* Màu của nút cuộn */
    border-radius: 5px; /* Bo tròn góc của nút cuộn */
}

/* Ẩn các nút cuộn */
.divScroll::-webkit-scrollbar-button {
    display: none; /* Ẩn các mũi tên */
}

.iconClipBoard {
  width: 18px;
  height: 18px;
  padding-bottom: 2.5px;
  transition: background-color 0.3s, opacity 0.3s; /* Thêm hiệu ứng chuyển tiếp */
  background-color: transparent; /* Màu nền ban đầu */
  opacity: 0.6; /* Độ trong suốt ban đầu */
}

.iconClipBoard:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
  opacity: 1; /* Độ trong suốt khi hover */
}


.iconCheckMark {
  width: 18px; 
  height: 18px;
  padding-bottom: 2.5px;
}
.copyNotification {
  position: absolute;
  top: 0;
  left: 100%;  /* Đặt thông báo ngay bên phải của nút */
  background-color: black;  /* Màu nền của thông báo */
  color: white;  /* Màu chữ của thông báo */
  padding: 2px 8px;  /* Đệm cho thông báo */
  border-radius: 5px;  /* Làm tròn góc */
  font-size: 0.75rem;  /* Cỡ chữ */
  white-space: nowrap;  /* Đảm bảo thông báo không bị ngắt quãng */
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.flexContainer {
  display: flex;
  justify-content: center; /* Đặt các mục con ở giữa */
  align-items: center;
  position: relative;
  padding-left: 1rem; /* Tương đương với px-4 */
  padding-right: 1rem; /* Tương đương với px-4 */
  color: black; /* Tương đương với text-black */
  font-size: 0.75rem; /* Tương đương với text-xs */
}


.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0.5rem;
}

.dot-yellow {
  background-color: #FFF389; /* Vàng nhạt */
}

.dot-red {
  background-color: #F88E86; /* Đỏ nhạt */
}

.dot-green {
  background-color: #93CF96; /* Xanh lá nhạt */
}

.fileName {
  flex-grow: 1;
  text-align: center; /* Đặt tên file ở chính giữa */
  font-size: 0.875rem;
}

.buttonCopy {
  padding-top: 0.25rem; /* tương đương với py-1 */
  padding-bottom: 0.25rem; /* tương đương với py-1 */
  display: inline-flex;
  align-items: center;
  gap: 0.25rem; /* tương đương với gap-1 */
}



